.white{
    background: #e0e0e0;
}
.gray{
    background: rgb(173, 173, 173);
}
.header{
    background: #000000;
    color: #ffffff;
}
.total{
    background: #c9c9c9;
}

#table{
    font-family: arial,Verdana;
    /*font-style: italic;*/
    font-style: normal;
    border-collapse: collapse;
    border: 1px solid black;
}
.table{
    width: 100%;
}
.tableQR{
    width: 60%;
}
td{
    height: 30px;
}
.qr_txt{
    letter-spacing: 1px;
    text-align: justify;
}